html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(0%) hue-rotate(36deg) brightness(103%) contrast(102%);
  --body-bg: #292e39;
  --header-bg-color: #171c28;

  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  // Dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(23%)
    saturate(508%) hue-rotate(185deg) brightness(90%) contrast(91%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(27%)
    saturate(171%) hue-rotate(132deg) brightness(101%) contrast(96%);

  // Sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow: rgba(23, 28, 40, 0.4);
}
